@import '../../../assets/themes/variables.scss';

.dashboard {
    width: 100%;
    height: 100vh;
    
    .nav-menu {
        height: 70px; 
        background-color: transparent;
        border-bottom: 1px solid $primary;
        background-color: $background;

        &__right {
            border-left: 1px solid $primary;
            width: 65%;
            display: flex;
            align-items: center; 
            justify-content: space-between;

            .contact-link {
                border-left: 1px solid $primary;
            }
            a {
                transition-duration: 800ms;
            }
            a:hover {
                color: $secondary;
            }
        }
        &__left {
            width: 35%;

            .logo {
                font-family: 'Federo';
                .logo-shadow {
                    font-family: inherit;
                    color: #6d6d6d;
                }
            }
            .hamburguer-button {
                width: 27px;
                height: 21px;
                position: relative;
                right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                    .segment-top, .segment-middle, .segment-bottom {
                        width: 100%;
                        position: absolute;
                        height: calc(100%/8);
                        background-color: $primary;
                        transition: 500ms all;
                    }
                    .segment-top {
                        bottom: 100%
                    }
                    .segment-middle {
                        bottom: 50%;
                        transition: 100ms all
                    }
                    .segment-bottom {
                        bottom: 0;
                    }
                    
            }
            .hamburguer-button:hover {
                .segment-top {
                    bottom: 50%;
                    transform: rotate(45deg);
                    background-color: $secondary;
                }
                .segment-middle {
                    height: 0;
                    background-color: $secondary;
                }
                .segment-bottom {
                    bottom: 50%;
                    transform: rotate(-45deg);
                    background-color: $secondary;
                }
            }
        }
    }

    .menu-dropdown {
        background-color: $backgroud-light;
        height: 140px;
        top: -70px;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        transition: top 300ms ease-in;

        &__row {
            height: 33%;
            border-bottom: 1px solid $primary;
        }
    }

    &__content {
        box-sizing: border-box;

        #header-section {
            position: relative;
            padding: 100px 0 100px 0;

            .header-image {
                display: flex;
                justify-content: center;
                right: 50%;

                img {
                    height: auto;
                    width: 400px;
                    position: absolute;
                    z-index: -5;
                }
            }

            @keyframes slide {
                from {
                  transform: translateX(0);
                }
                to {
                  transform: translateX(-100%);
                }
            }
            .header-slider {
                overflow: hidden;
                padding: 60px 0;
                white-space: nowrap;
                position: relative;
                height: 600px;
                      
                .header-slider:before,
                .header-slider:after {
                    position: absolute;
                    top: 0;
                    width: 250px;
                    height: 100%;
                    content: "";
                    z-index: 2;
                }    
                .header-slider:before {
                    left: 0;
                }
                .header-slider:after {
                    right: 0;
                }   
                .slide {
                    display: inline-block;
                    animation: 35s slide infinite linear;
    
                    h1 {
                        display: inline-block;
                        padding-right: 20px;
                        width: 0 500px;
                        font-size: $title-xl;
                    }
                }
                &__top {
                    position: absolute;
                    z-index: -4;
                }
                &__bottom {
                    position: absolute;
                    bottom: 0;
                    z-index: -6;
                }
            }
        }

        .about-me {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 100px 0 100px 0;
            max-width: 52vw;
            margin: auto;

            &__title {
                font-family: 'Poppins';
                color: $dark-light;
            }
            &__description {
                font-size: 3vw;
            }
        }

        .profile {
            position: relative;
            width: 100%;
            height: 1000px;
            font-family: 'PoppinsLight';
            padding: 70px 15px 70px 15px;

            &__title {
                font-family: "Poppins";
                font-size: 108px;
                position: absolute;
                z-index: 3;
                max-width: 500px;
                line-height: 100px;
                top: 11%;
            }
            &__description1 {
                font-size: $body-lg;
                position: absolute;
                max-width: 800px;
                top: 51%;
                left: 28%;
                z-index: 1;
            }
            &__description2 {
                font-size: $body-lg;
                position: absolute;
                max-width: 900px;
                top: 74%;
                left: 18%;
                z-index: 2;
            }
            &__img-bottom {
                position: absolute;
                width: 160px;
                top: 39%;
                left: 11%;
                z-index: 1;
            }
            &__img-top {
                position: absolute;
                width: 630px;
                left: 20%;
            }
        }

        .experience {
            padding: 200px 150px 250px 150px;

            h3 {
                font-family: 'PoppinsLight';
                font-size: $title-md;
            }
            span {
                font-size: $body-md;
                font-family: 'PoppinsLight';
                display: block;
                margin-bottom: 5px;
            }

            .guide-line {
                width: 3px;
                border-radius: 5px;
                background-color: $dark-light;
                height: inherit;
            }

            .subsection {
                padding: 0px 0px 12px 24px;
            }
            .subsection-skills {
                display: flex;
                justify-content: space-between;
                padding-left: 20px;
                width: 360px;
            }

            .libraries-color {
                color: #adb0e4;
            }

            .design-tools-color {
                color: #cc0b99;
            }

            &__row {
                padding-bottom: 80px;
            }

            &__section {
                width: 440px;
            }
        }
    }

    @media screen and (max-width: $media-xl) {
        .profile {
            &__description1 {
                max-width: 600px;
                top: 51%;
                left: 32%;
                z-index: 2;
            }
            &__description2 {
                max-width: 700px;
                top: 76%;
                left: 18%;
            }
        }

        .experience {
            padding-left: 80px;
            padding-right: 80px;

            span {
                font-size: $body-sm;
            }

            &__row {
                gap: 100px;
            }
        }
    }

    @media screen and (max-width: $media-lg) {
        #header-section {
            position: relative;
            padding: 100px 0 100px 0;

            .header-image {
                img {
                    width: 300px;
                }
            }
            .header-slider {
                padding: 0;
                height: 450px;
            }
        }

        .about-me {
            max-width: 700px;
    
            &__title {
                font-size: $body-sm;
            }
            &__description {
                font-size: 4.5vw;
            }
        }

        .profile {
            &__title {
                z-index: 3;
                max-width: 500px;
                line-height: 100px;
                top: 11%;
            }
            &__description1 {
                font-size: $body-md;
                max-width: 450px;
                top: 51%;
                left: 36%;
            }
            &__description2 {
                font-size: $body-md;
                max-width: 600px;
                top: 69%;
                left: 20%;
            }
            &__img-top {
                width: 450px;
                left: 35%;
            }
            &__img-bottom {
                width: 125px;
                left: 12%;
            }
        }

        .experience {
            padding-left: 60px;
            padding-right: 60px;

            &__row {
                gap: 80px;
            }
        }
    }

    @media screen and (max-width: $media-md) { 
        .nav-menu {
            transition: border-bottom 300ms ease-in;
            &__right {
                display: none;
                width: 0%;
            }
            &__left {
                width: 100%;
            }
        }

        #header-section {
            position: relative;
            padding: 100px 0 100px 0;

            .header-image {
                img {
                    width: 230px;
                }
            }
            .header-slider {
                height: 350px;

                .slide {
                    h1 {
                        font-size: $title-lg;
                    }
                }
            }
        }

        .about-me {
            padding-top: 35px;
            max-width: 83vw;
        }

        .profile {
            &__description1 {
                font-size: $body-sm;
                max-width: 450px;
                margin-right: 20px;
                top: 45%;
                left: 36%;
            }
            &__description2 {
                font-size: $body-sm;
                max-width: 600px;
                margin-right: 20px;
                top: 61%;
                left: 30%;
            }
            &__img-top {
                width: 350px;
                left: 35%;
            }
            &__img-bottom {
                width: 95px;
            }
        }

        .experience {
            padding-top: 0px;
            padding-left: 80px;

            &__row {
                flex-direction: column;
            }
        }
    }

    @media screen and (max-width: $media-sm) { 

        .profile {
            &__title {
                max-width: 375px;
                font-size: 75px;
                line-height: 75px;
            }
            &__description1 {
                top: 37%;
                font-size: 14px;
            }
            &__description2 {
                top: 57%;
                left: 15%;
                font-size: 14px;
            }
            &__img-top {
                left: 35%;
                width: 250px;
            }
            &__img-bottom {
                top: 33%;
            }
        }

        #header-section {
            position: relative;
            padding: 60px 0 100px 0;

            .header-image {
                img {
                    width: 200px;
                }
            }
            .header-slider {
                height: 300px;

                .slide {
                    h1 {
                        font-size: 80px;
                    }
                }
            }
        }

        .about-me {
            padding-top: 0px;
            &__title {
                font-size: $body-xs;
            }
        }

        .experience {
            padding-left: 30px;
            padding-right: 20px;

            h3 {
                font-size: $title-sm;
            }
            /* span {
                font-size: $body-xs;
            } */
        }
    }

}