@import '../../../assets/themes/variables.scss';

.dashboard {
    width: 100%;
    height: 100%;
    position: relative;
    
    .nav-menu {
        height: 70px; 
        background-color: transparent;
        border-bottom: 1px solid $primary;
        background-color: $background;
        position: absolute;
        z-index: 3;

        &__right {
            border-left: 1px solid $primary;
            width: 65%;
            display: flex;
            align-items: center; 
            justify-content: space-between;

            .contact-link {
                border-left: 1px solid $primary;
            }
            a {
                transition-duration: 800ms;
            }
            a:hover {
                cursor: pointer;
                color: $secondary;
            }
        }
        &__left {
            width: 35%;

            .logo {
                font-family: 'Federo';
                .logo-shadow {
                    font-family: inherit;
                    color: #6d6d6d;
                }
            }
            .hamburguer-button {
                width: 27px;
                height: 21px;
                position: relative;
                right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                    .segment-top, .segment-middle, .segment-bottom {
                        width: 100%;
                        position: absolute;
                        height: calc(100%/8);
                        background-color: $primary;
                        transition: 500ms all;
                    }
                    .segment-top {
                        bottom: 100%
                    }
                    .segment-middle {
                        bottom: 50%;
                        transition: 100ms all
                    }
                    .segment-bottom {
                        bottom: 0;
                    }
                    
            }
            .hamburguer-button:hover {
                .segment-top {
                    bottom: 50%;
                    transform: rotate(45deg);
                    background-color: $secondary;
                }
                .segment-middle {
                    height: 0;
                    background-color: $secondary;
                }
                .segment-bottom {
                    bottom: 50%;
                    transform: rotate(-45deg);
                    background-color: $secondary;
                }
            }
        }
    }

    .menu-dropdown {
        background-color: $backgroud-light;
        height: 140px;
        top: -70px;
        position: absolute;
        z-index: 2;
        overflow: hidden;
        transition: top 300ms ease-in;

        &__row {
            height: 33%;
            border-bottom: 1px solid $primary;
        }
    }

    &__content {
        box-sizing: border-box;

        .header {
            .header-section {
                position: relative;
                padding: 100px 0 100px 0;
                height: 600px;
                font-size: $title-xl !important;
    
                .header-image {
                    display: flex;
                    justify-content: center;
                    right: 50%;
    
                    img {
                        height: auto;
                        width: 400px;
                        position: absolute;
                        z-index: -5;
                    }
                }

                .header-slider {
                    overflow: hidden;
                    padding: 60px 0;
                    white-space: nowrap;
                    position: relative;
                    height: 600px;
                          
                    &__top {
                        position: absolute;
                        z-index: -4;
                    }
                    &__bottom {
                        position: absolute;
                        bottom: 0;
                        z-index: -6;
                    }
                }
            }
        }

        .about-me {
            padding: 400px 0 100px 0;
            margin: auto;
        }

        .important-message {
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 52vw;

            &__title {
                font-family: 'Poppins';
                color: $dark-light;
            }
            &__description {
                font-size: $title-md;
            }
        }

        .profile {
            position: relative;
            width: 100%;
            height: 1000px;
            font-family: 'PoppinsLight';
            padding: 70px 15px 70px 15px;

            &__title {
                font-family: "Poppins";
                font-size: 108px;
                position: absolute;
                z-index: 3;
                max-width: 500px;
                line-height: 100px;
                top: 11%;
            }
            &__description1 {
                font-size: $body-lg;
                position: absolute;
                max-width: 800px;
                top: 51%;
                left: 28%;
                z-index: 1;
            }
            &__description2 {
                font-size: $body-lg;
                position: absolute;
                max-width: 900px;
                top: 74%;
                left: 18%;
                z-index: 2;
            }
            &__img-bottom {
                position: absolute;
                width: 160px;
                top: 39%;
                left: 11%;
                z-index: 1;
            }
            &__img-top {
                position: absolute;
                width: 630px;
                left: 20%;
            }
        }

        .experience {
            padding: 200px 80px 250px 80px;

            h3 {
                font-family: 'PoppinsLight';
                font-size: $title-md;
            }
            span {
                font-size: $body-md;
                font-family: 'PoppinsLight';
                display: block;
                margin-bottom: 5px;
            }

            .guide-line {
                width: 1px;
                background-color: $dark-light;
                height: inherit;
            }

            .subsection {
                padding: 0px 0px 12px 24px;
            }
            .subsection-skills {
                display: flex;
                justify-content: space-between;
                padding-left: 20px;
                width: 360px;
            }

            .libraries-color {
                color: #adb0e4;
            }

            .design-tools-color {
                color: #cc0b99;
            }

            &__row {
                padding-bottom: 80px;
                display: flex;
                justify-content: space-between;

                .section {
                    width: 50%;
                }
            }
        }

        .contact {
            .header-section {
                position: relative;
                padding: 100px 0 100px 0;
    
                .header-image {
                    img {
                        height: 600px;
                        width: 100%;
                        position: absolute;
                        z-index: -5;
                    }
                }
    
                .header-slider {
                    overflow: hidden;
                    white-space: nowrap;
                    position: relative;
                    height: 600px;
                          
                    &__top {
                        position: absolute;
                    }
                    &__bottom {
                        position: absolute;
                        bottom: 0;
                    }
                }
            }

            .contact-data {
                padding-left: 80px;

                .important-message {
                    margin: unset;
                    padding-bottom: 80px;
                }

                .link-section {
                    display: flex;
                    flex-direction: row;
                    gap: 120px;
                    flex-wrap: wrap;
                    padding-bottom: 30px;

                    span {
                        display: block;
                        font-size: $body-lg;
                        margin-bottom: 10px;
                        transition-duration: 800ms;
                        cursor: pointer;
                    }

                    span:hover {
                        color: $secondary;
                    }

                    .no-hover:hover {
                        pointer-events: none;
                    }
                }
            }

            .send-message-button {
                display: flex;
                justify-content: center;
                padding-bottom: 80px;
            }
        }
    }

    .go-up {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 8px 0px 8px 0px;
        background-color: transparent;
        color: $primary;
        transition: 400ms ease-in-out;
        display: flex;
        justify-content: center;
        font-family: 'Poppins';
    }

    .go-up:hover {
        cursor: pointer;
        background-color: $secondary;
        color: $background;
    }

    @media screen and (max-width: $media-xl) {
        .profile {
            &__description1 {
                max-width: 600px;
                top: 51%;
                left: 32%;
                z-index: 2;
            }
            &__description2 {
                max-width: 700px;
                top: 76%;
                left: 18%;
            }
        }

        .experience {
            padding-left: 80px;
            padding-right: 80px;

            span {
                font-size: $body-sm;
            }

            &__row {
                gap: 100px;
            }
        }
    }

    @media screen and (max-width: $media-lg) {

        .header {
            .header-section {
                position: relative;
                padding: 100px 0 100px 0;
    
                .header-image {
                    img {
                        width: 300px;
                    }
                }
                .header-slider {
                    padding: 0;
                    height: 450px;
                }
            }
        }

        .about-me {
            padding-top: 200px;
        }

        .important-message {
            max-width: 550px;
    
            &__title {
                font-size: $body-sm;
            }
            &__description {
                font-size: 35px;
            }
        }

        .profile {
            &__title {
                z-index: 3;
                max-width: 500px;
                line-height: 100px;
                top: 11%;
            }
            &__description1 {
                font-size: $body-md;
                max-width: 450px;
                top: 51%;
                left: 36%;
            }
            &__description2 {
                font-size: $body-md;
                max-width: 600px;
                top: 69%;
                left: 20%;
            }
            &__img-top {
                width: 450px;
                left: 35%;
            }
            &__img-bottom {
                width: 125px;
                left: 12%;
            }
        }

        .experience {
            padding-left: 60px;
            padding-right: 60px;

            &__row {
                display: flex;
                justify-content: space-around;

                .section {
                    width: auto;
                }
            }
        }

        .contact {
            .contact-data {
                padding-left: 60px;
    
                .link-section {
                    span {
                        display: block;
                        font-size: $body-md;
                        margin-bottom: 10px;
                        transition-duration: 800ms;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $media-md) { 
        .nav-menu {
            transition: border-bottom 300ms ease-in;
            &__right {
                display: none;
                width: 0%;
            }
            &__left {
                width: 100%;
            }
        }

        .header {
            .header-section {
                position: relative;
                padding: 100px 0 100px 0;
    
                .header-image {
                    img {
                        width: 230px;
                    }
                }
                .header-slider {
                    height: 350px;
                }
            }
        }

        .about-me {
            padding-top: 35px;
        }

        .important-message {
            max-width: 83vw;

            &__description {
                font-size: $title-sm;
            }
        }

        .profile {
            &__description1 {
                font-size: $body-sm;
                max-width: 450px;
                margin-right: 20px;
                top: 45%;
                left: 36%;
            }
            &__description2 {
                font-size: $body-sm;
                max-width: 600px;
                margin-right: 20px;
                top: 61%;
                left: 30%;
            }
            &__img-top {
                width: 350px;
                left: 35%;
            }
            &__img-bottom {
                width: 95px;
            }
        }

        .experience {
            padding-top: 0px;
            padding-left: 80px;

            &__row {
                flex-direction: column;
            }
        }

        .contact {
            .header-section {
                .header-slider {
                    height: 450px;
                }
                .header-image {
                    img {
                        height: 450px;
                    }
                }
            }

            .contact-data {
                padding-left: 60px;
    
                .link-section {
                    flex-direction: column;
                    gap: 0px;
                    span {
                        display: block;
                        font-size: $body-md;
                        margin-bottom: 10px;
                        transition-duration: 800ms;
                        cursor: pointer;
                    }
                }
            }
        }

        .send-message-button {
            padding-bottom: 60px;
        }
    }

    @media screen and (max-width: $media-sm) { 

        .profile {
            &__title {
                max-width: 375px;
                font-size: 75px;
                line-height: 75px;
            }
            &__description1 {
                top: 37%;
                font-size: 14px;
            }
            &__description2 {
                top: 57%;
                left: 15%;
                font-size: 14px;
            }
            &__img-top {
                left: 30%;
                width: 250px;
            }
            &__img-bottom {
                top: 33%;
            }
        }

        .header {
            .header-section {
                position: relative;
                padding: 60px 0 100px 0;
                height: 550px;
    
                .header-image {
                    img {
                        width: 200px;
                    }
                }
                .header-slider {
                    height: 300px;
                }
            }
        }

        .about-me {
            padding-top: 35px;
        }

        .important-message {
            padding-top: 0px;
            &__title {
                font-size: $body-xs;
            }
        }

        .experience {
            padding-left: 30px;
            padding-right: 20px;
            padding-bottom: 20px;

            h3 {
                font-size: $title-sm;
            }

            .subsection-skills {
                width: 315px;
            }
        }

        .contact {
            .header-section {
                .header-slider {
                    height: 300px;
                }
                .header-image {
                    img {
                        height: 300px;
                    }
                }
            }

            .contact-data {
                padding-left: 30px;
    
                .link-section {
                    span {
                        display: block;
                        font-size: $body-sm;
                        margin-bottom: 10px;
                        transition-duration: 800ms;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}