<div #slider class="dashboard" (click)="closeDropdowns()">

    <!-- NAVIGATION MENU -->
    <div class="nav-menu d-flex w-100 justify-content-start" #navMenu>

        <!-- Menu left: Logo / skills -->
        <div class="nav-menu__left h-100 d-flex align-items-center justify-content-between gap-4">
            <div class="d-flex align-items-center justify-content-between gap-4">
                <div class="ms-3 body-sm">
                    <span class="logo d-inline-block">{{ 'menu.brand.first' | translate }}<span class="logo-shadow">{{ 'menu.brand.last' | translate }}</span></span>
                </div>
                <div class="d-flex flex-column">
                    <span class="body-xs">{{ 'menu.brand.js' | translate }}</span>
                    <span class="body-xs">{{ 'menu.brand.frontend' | translate }}</span>
                    <span class="body-xs">{{ 'menu.brand.angular' | translate }}</span>
                </div>
            </div>
            <div *ngIf="showMobileMenu">
                <pf-hamburguer-button #hamburguerButton id="menuDropdown"
                    (click)="isMenuOpened ? '' : toggleDropdownMenu()"></pf-hamburguer-button>
            </div>
        </div>

        <!-- Menu right:  Projects / About me / contact-->
        <nav class="nav-menu__right body-sm h-100">
            <div>
                <a class="p-4">{{ 'menu.sections.projects' | translate }}</a>
                <a class="p-4" (click)="scrollToSection(pageSectionsEnum.Experience)">{{ 'menu.sections.aboutMe' | translate }}</a>
            </div>
            <div>
                <a class="contact-link p-4 h-100" 
                (click)="scrollToSection(pageSectionsEnum.Contact)">{{ 'menu.sections.contact' | translate }}</a>
            </div>
        </nav>
    </div>

    <!-- DROPDOWN MENU (MOBILE) -->
    <div class="menu-dropdown d-flex flex-column w-100" #menuDropdown *ngIf="showMobileMenu ">
        <div class="menu-dropdown__row title-xs d-flex align-items-center">
            <span class="ms-3">{{ 'menu.sections.projects' | translate }}</span>
        </div>
        <div class="menu-dropdown__row title-xs d-flex align-items-center" (click)="scrollToSection(pageSectionsEnum.Experience)">
            <span class="ms-3">{{ 'menu.sections.aboutMe' | translate }}</span>
        </div>
        <div class="menu-dropdown__row title-xs d-flex align-items-center" (click)="scrollToSection(pageSectionsEnum.Contact)">
            <span class="ms-3">{{ 'menu.sections.contact' | translate }}</span>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="dashboard__content">
        <div class="config-buttons">
            <div class="lang-box" (click)="toggleLangPopover()">
                <div #langButton class="lang-button">
                    <span>{{ 'common.lang.'+ selectedLang | translate }}</span>
                    <img src="assets/images/countries/{{ selectedLang }}.png" alt="">
                </div>
                <div class="lang-popover-dropdown d-flex flex-column" #langPopover>
                    @if (selectedLang !== translateLangsEnum.es) {
                        <div class="lang-popover-dropdown__row title-xs" (click)="changeLang(translateLangsEnum.es)">
                            <span>Spanish</span>
                            <img src="assets/images/countries/es.png" alt="">
                        </div>
                    }
                    @if (selectedLang !== translateLangsEnum.en) {
                        <div class="lang-popover-dropdown__row title-xs" (click)="changeLang(translateLangsEnum.en)">
                            <span>English</span>
                            <img src="assets/images/countries/en.png" alt="">
                        </div>
                    }
                    @if (selectedLang !== translateLangsEnum.de) {
                        <div class="lang-popover-dropdown__row title-xs" (click)="changeLang(translateLangsEnum.de)">
                            <span>German</span>
                            <img src="assets/images/countries/de.png" alt="">
                        </div>
                    }
                </div>
            </div>
            <div class="theme-button">
                <pf-toggle-button (onToggle)="onToggleThemeButton($event)"></pf-toggle-button>
            </div>
        </div>

        <!-- HEADER SECTION -->
        <div class="header">
            <div class="header-section">
                <div class="header-image">
                    <img [src]="images.imageMain" alt="">
                </div>

                <div class="header-slider">
                    <div class="header-slider__top">
                        <pf-infinite-marquee [text]="'PEDRO DEV CICUENDEZ'" [fontFamily]="'Federo'"
                            [speed]="0.1"></pf-infinite-marquee>
                    </div>
                    <div class="header-slider__bottom">
                        <pf-infinite-marquee [text]="'FRONTEND GRANDE MARTINEZ'" [fontFamily]="'Federo'"
                            [speed]="0.1"></pf-infinite-marquee>
                    </div>
                </div>
            </div>
        </div>

        <!-- ABOUT ME -->
        <div class="about-me important-message">
            <div>
                <span class="body-md important-message__title">{{ 'aboutMe.title' | translate }}</span>
            </div>
            <div>
                <span class="important-message__description">{{ 'aboutMe.description' | translate }}</span>
            </div>
        </div>

        <!-- PROFILE -->
        <div class="profile">
            <span class="profile__title">{{ 'profile.title' | translate }}</span>
            <p class="profile__description1">{{ 'profile.description1' | translate }}</p>
            <p class="profile__description2">{{ 'profile.description2' | translate }}</p>

            <img class="profile__img-top" [src]="images.imageMiddle2" alt="">
            <img class="profile__img-bottom" [src]="images.imageMiddle1" alt="">
        </div>

        <!-- EXPERIENCE -->
        <div #experienceSection class="experience">
            <div class="experience__row">
                <div class="section">
                    <h3 class="mb-4">{{ 'experience.academicProfile.title' | translate }}</h3>
                    <div class="d-flex">
                        <div class="guide-line"></div>
                        <div>
                            <div class="subsection">
                                <h4 class="body-md">{{ 'experience.academicProfile.subsection1.place' | translate }}</h4>
                                <span>{{ 'experience.academicProfile.subsection1.studies' | translate }}</span>
                                <span>2016-2021</span>
                            </div>
                            <div class="subsection">
                                <h4 class="body-md">{{ 'experience.academicProfile.subsection2.place' | translate }}</h4>
                                <span>{{ 'experience.academicProfile.subsection2.studies' | translate }}</span>
                                <span>{{ 'experience.academicProfile.subsection2.course' | translate }}</span>
                                <span>Erasmus +</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <h3 class="mb-4">{{ 'experience.moreEducation.title' | translate }}</h3>
                    <div class="d-flex">
                        <div class="guide-line"></div>
                        <div>
                            <div class="subsection">
                                <span>{{ 'experience.moreEducation.subsection1' | translate }}</span>
                                <span>{{ 'experience.moreEducation.subsection2' | translate }}</span>
                                <span>{{ 'experience.moreEducation.subsection3' | translate }}</span>
                                <span>{{ 'experience.moreEducation.subsection4' | translate }}</span>
                                <span>{{ 'experience.moreEducation.subsection5' | translate }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="experience__row">
                <div class="section">
                    <h3 class="mb-4">{{ 'experience.workExperience.title' | translate }}</h3>
                    <div class="d-flex">
                        <div class="guide-line"></div>
                        <div>
                            <div class="subsection">
                                <h4 class="body-md">{{ 'experience.workExperience.subsection1.title' | translate }}</h4>
                                <span>{{ 'experience.workExperience.subsection1.description' | translate }}</span>
                                <span>{{ 'experience.workExperience.subsection1.time' | translate }}</span>
                                <span>{{ 'experience.workExperience.subsection1.modality' | translate }}</span>
                            </div>
                            <div class="subsection">
                                <h4 class="body-md">{{ 'experience.workExperience.subsection2.title' | translate }}</h4>
                                <span>{{ 'experience.workExperience.subsection2.description' | translate }}</span>
                                <span>{{ 'experience.workExperience.subsection2.time' | translate }}</span>
                                <span>{{ 'experience.workExperience.subsection2.modality' | translate }}</span>
                            </div>
                            <div class="subsection">
                                <h4 class="body-md">{{ 'experience.workExperience.subsection3.title' | translate }}</h4>
                                <span>{{ 'experience.workExperience.subsection3.description' | translate }}</span>
                                <span>{{ 'experience.workExperience.subsection3.time' | translate }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <h3 class="mb-4">{{ 'experience.skills.title' | translate }}</h3>
                    <div class="d-flex">
                        <div class="guide-line"></div>
                        <div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">JavaScript</h4>
                                <span class="d-inline-block">{{ 'common.advanced' | translate }}</span>
                            </div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">Angular</h4>
                                <span class="d-inline-block">{{ 'common.intermediateHigh' | translate }}</span>
                            </div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">Ionic</h4>
                                <span class="d-inline-block">{{ 'common.advanced' | translate }}</span>
                            </div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">{{ 'experience.skills.entity.english' | translate }}</h4>
                                <span class="d-inline-block">{{ 'common.advanced' | translate }}</span>
                            </div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">{{ 'experience.skills.entity.italian' | translate }}</h4>
                                <span class="d-inline-block">{{ 'common.intermediate' | translate }}</span>
                            </div>
                            <div class="subsection-skills color-secondary">
                                <span class="body-md d-inline-block">Bitbucket</span>
                                <span class="d-inline-block">Trello</span>
                            </div>
                            <div class="subsection-skills color-secondary">
                                <span class="d-inline-block">GitHub</span>
                                <span class="d-inline-block">Confluence</span>
                            </div>
                            <div class="subsection-skills libraries-color">
                                <span class="d-inline-block">ChartJS</span>
                                <span class="d-inline-block">Angular Material</span>
                            </div>
                            <div class="subsection-skills libraries-color">
                                <span class="d-inline-block">NgxTranslate</span>
                                <span class="d-inline-block">Google Maps API</span>
                            </div>
                            <div class="subsection-skills design-tools-color">
                                <span class="d-inline-block">Figma</span>
                                <span class="d-inline-block">Webflow</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROJECTS -->
        <div class="projects">
        </div>

        <!-- CONTACT -->
        <div class="contact">

            <!-- Slider section -->
            <div class="header-section">
                <div class="header-image">
                    <img [src]="images.imageFooter" alt="">
                </div>

                <div class="header-slider">
                    <div class="header-slider__top">
                        <pf-infinite-marquee [text]="'CALL MY DOOR CONTACT ME'" [fontFamily]="'Federo'"
                            [speed]="0.1"></pf-infinite-marquee>
                    </div>
                    <div class="header-slider__bottom">
                        <pf-infinite-marquee [text]="'CONTACT ME CALL MY DOOR'" [fontFamily]="'Federo'"
                            [speed]="0.1"></pf-infinite-marquee>
                    </div>
                </div>
            </div>

            <!-- Business time -->
            <div #contactSection class="contact-data">
                <div class="important-message">
                    <div>
                        <span class="body-md important-message__title">{{ 'contact.title' | translate }}</span>
                    </div>
                    <div>
                        <span class="important-message__description">{{ 'contact.description' | translate }}</span>
                    </div>
                </div>

                <div class="link-section">
                    <div>
                        <span>pedromartinezgcicuendez&#64;gmail.com</span>
                        <span class="no-hover">{{ 'contact.location' | translate }}</span>
                    </div>
                    <div>
                        <span>LinkedIn</span>
                        <span>GitHub</span>
                    </div>
                </div>
            </div>
            <div class="send-message-button">
                <pf-magnetic-button [text]="'Send a message'"></pf-magnetic-button>
            </div>
        </div>

    </div>
    <!-- GO UP BUTTON -->
    <div class="go-up" (click)="scrollToTop()">Go up</div>
</div>