<div #slider class="dashboard" (click)="isMenuOpened ? toggleDropdownMenu() : ''">

    <!-- NAVIGATION MENU -->
    <div class="nav-menu d-flex w-100 justify-content-start" #navMenu>

        <!-- Menu left: Logo / skills -->
        <div class="nav-menu__left h-100 d-flex align-items-center justify-content-between gap-4">
            <div class="d-flex align-items-center justify-content-between gap-4">
                <div class="ms-3 body-sm">
                    <span class="logo d-inline-block">GRANDE<span class="logo-shadow">DEV</span></span>
                </div>
                <div class="d-flex flex-column">
                    <span class="body-xs">JavaSript</span>
                    <span class="body-xs">FrontEnd developer</span>
                    <span class="body-xs">Angular</span>
                </div>
            </div>
            <div *ngIf="showMobileMenu">
                <pf-hamburguer-button #hamburguerButton id="menuDropdown"
                    (click)="isMenuOpened ? '' : toggleDropdownMenu()"></pf-hamburguer-button>
            </div>
        </div>

        <!-- Menu right:  Projects / About me / contact-->
        <nav class="nav-menu__right body-sm h-100">
            <div>
                <a class="p-4">Projects</a>
                <a class="p-4" (click)="scrollToSection(pageSectionsEnum.Experience)">About me</a>
            </div>
            <div>
                <a class="contact-link p-4 h-100" (click)="scrollToSection(pageSectionsEnum.Contact)">Contact</a>
            </div>
        </nav>
    </div>

    <!-- DROPDOWN MENU (MOBILE) -->
    <div class="menu-dropdown d-flex flex-column w-100" #menuDropdown *ngIf="showMobileMenu ">
        <div class="menu-dropdown__row title-xs d-flex align-items-center"><span class="ms-3">Projects</span></div>
        <div class="menu-dropdown__row title-xs d-flex align-items-center"
            (click)="scrollToSection(pageSectionsEnum.Experience)"><span class="ms-3">About me</span></div>
        <div class="menu-dropdown__row title-xs d-flex align-items-center"
            (click)="scrollToSection(pageSectionsEnum.Contact)"><span class="ms-3">Contact</span></div>
    </div>

    <!-- CONTENT -->
    <div class="dashboard__content">
        <div class="theme-button">
            <pf-toggle-button (onToggle)="onToggleThemeButton($event)"></pf-toggle-button>
        </div>

        <!-- HEADER SECTION -->
        <div class="header">
            <div class="header-section">
                <div class="header-image">
                    <img [src]="imageMain" alt="">
                </div>

                <div class="header-slider">
                    <div class="header-slider__top">
                        <pf-infinite-marquee [text]="'PEDRO DEV CICUENDEZ'" [fontFamily]="'Federo'"
                            [speed]="0.1"></pf-infinite-marquee>
                    </div>
                    <div class="header-slider__bottom">
                        <pf-infinite-marquee [text]="'FRONTEND GRANDE MARTINEZ'" [fontFamily]="'Federo'"
                            [speed]="0.1"></pf-infinite-marquee>
                    </div>
                </div>
            </div>
        </div>

        <!-- ABOUT ME -->
        <div class="about-me important-message">
            <div>
                <span class="body-md important-message__title">humility time</span>
            </div>
            <div>
                <span class="important-message__description">Appassionate young FrontEnd developer, designer and
                    engineer. Improving for beauty and dynamism.</span>
            </div>
        </div>

        <!-- PROFILE -->
        <div class="profile">
            <span class="profile__title">KNOW THE CREATOR</span>
            <p class="profile__description1">
                Frontend Developer specialist in Angular. A very interested person in web/app development.
                Using dynamically JavaScript, Angular and Ionic for the bones, and Figma and Webflow for an impressive
                beauty face.
            </p>
            <p class="profile__description2">
                I have spent a year in other country and I have been in contact with all kinds of people, so mobility
                outside the country will not be a problem.
            </p>
            <img class="profile__img-top" [src]="imageMiddle2" alt="">
            <img class="profile__img-bottom" [src]="imageMiddle1" alt="">
        </div>

        <!-- EXPERIENCE -->
        <div #experienceSection class="experience">
            <div class="experience__row">
                <div class="section">
                    <h3 class="mb-4">ACADEMIC PROFILE</h3>
                    <div class="d-flex">
                        <div class="guide-line"></div>
                        <div>
                            <div class="subsection">
                                <h4 class="body-md">University of Castilla-La Mancha</h4>
                                <span>Graduate in Mechanical Engineering</span>
                                <span>2016-2021</span>
                            </div>
                            <div class="subsection">
                                <h4 class="body-md">University of Perugia</h4>
                                <span>Complementary education for engineerig.</span>
                                <span>Course 2019-2020</span>
                                <span>Erasmus +</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <h3 class="mb-4">MORE EDUCATION</h3>
                    <div class="d-flex">
                        <div class="guide-line"></div>
                        <div>
                            <div class="subsection">
                                <span>English immersion course (UIMP)</span>
                                <span>Erasmus +</span>
                                <span>Master in Javascript: JS, JQuery, Angular, NodeJS</span>
                                <span>Ionic 6+: Create IOS, Android PWAs apps with Angular</span>
                                <span>SOLID principles and Clean Code</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="experience__row">
                <div class="section">
                    <h3 class="mb-4">WORK EXPERIENCE</h3>
                    <div class="d-flex">
                        <div class="guide-line"></div>
                        <div>
                            <div class="subsection">
                                <h4 class="body-md">Frontend Developer in OPTIMIZA Process</h4>
                                <span>Web and apps development with Ionic + Angular</span>
                                <span>March 2022 - January 2023</span>
                                <span>100% remote.</span>
                            </div>
                            <div class="subsection">
                                <h4 class="body-md">Frontend Developer in ORENES</h4>
                                <span>Web and apps development with Angular in latest versions. Continuous integration,
                                    collaborating with several depts. (Back, QA, DevOps). Working in sprints.</span>
                                <span>March 2023 - Now</span>
                                <span>100% remote.</span>
                            </div>
                            <div class="subsection">
                                <h4 class="body-md">Programmer in own projects</h4>
                                <span>Web development, frontend</span>
                                <span>2021-Now</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <h3 class="mb-4">SKILLS</h3>
                    <div class="d-flex">
                        <div class="guide-line"></div>
                        <div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">JavaScript</h4>
                                <span class="d-inline-block">Advanced</span>
                            </div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">Angular</h4>
                                <span class="d-inline-block">Int. - Advanced</span>
                            </div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">Ionic</h4>
                                <span class="d-inline-block">Advanced</span>
                            </div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">English</h4>
                                <span class="d-inline-block">Advanced</span>
                            </div>
                            <div class="subsection-skills">
                                <h4 class="body-md d-inline-block">Italian</h4>
                                <span class="d-inline-block">Intermediate</span>
                            </div>
                            <div class="subsection-skills color-secondary">
                                <span class="body-md d-inline-block">Bitbucket</span>
                                <span class="d-inline-block">Trello</span>
                            </div>
                            <div class="subsection-skills color-secondary">
                                <span class="d-inline-block">GitHub</span>
                                <span class="d-inline-block">Confluence</span>
                            </div>
                            <div class="subsection-skills libraries-color">
                                <span class="d-inline-block">ChartJS</span>
                                <span class="d-inline-block">Angular Material</span>
                            </div>
                            <div class="subsection-skills libraries-color">
                                <span class="d-inline-block">NgxTranslate</span>
                                <span class="d-inline-block">Google Maps API</span>
                            </div>
                            <div class="subsection-skills design-tools-color">
                                <span class="d-inline-block">Figma</span>
                                <span class="d-inline-block">Webflow</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROJECTS -->
        <div class="projects">
        </div>

        <!-- CONTACT -->
        <div class="contact">

            <!-- Slider section -->
            <div class="header-section">
                <div class="header-image">
                    <img [src]="imageFooter" alt="">
                </div>

                <div class="header-slider">
                    <div class="header-slider__top">
                        <pf-infinite-marquee [text]="'CALL MY DOOR CONTACT ME'" [fontFamily]="'Federo'"
                            [speed]="0.1"></pf-infinite-marquee>
                    </div>
                    <div class="header-slider__bottom">
                        <pf-infinite-marquee [text]="'CONTACT ME CALL MY DOOR'" [fontFamily]="'Federo'"
                            [speed]="0.1"></pf-infinite-marquee>
                    </div>
                </div>
            </div>

            <!-- Business time -->
            <div #contactSection class="contact-data">
                <div class="important-message">
                    <div>
                        <span class="body-md important-message__title">business time</span>
                    </div>
                    <div>
                        <span class="important-message__description">Ask me, and lets talk about intersting
                            projects!</span>
                    </div>
                </div>

                <div class="link-section">
                    <div>
                        <span>pedromartinezgcicuendez&#64;gmail.com</span>
                        <span class="no-hover">Madrid, Spain</span>
                    </div>
                    <div>
                        <span>LinkedIn</span>
                        <span>GitHub</span>
                    </div>
                </div>
            </div>
            <div class="send-message-button">
                <pf-magnetic-button [text]="'Send a message'"></pf-magnetic-button>
            </div>
        </div>

    </div>
    <!-- GO UP BUTTON -->
    <div class="go-up" (click)="scrollToTop()">Go up</div>
</div>