<div class="dashboard" (click)="isMenuOpened ? toggleDropdownMenu() : ''">
    
    <!-- NAVIGATION MENU -->
    <div class="nav-menu d-flex w-100 justify-content-start" #navMenu>
        
        <!-- Menu left: Logo / skills -->
        <div class="nav-menu__left h-100 d-flex align-items-center justify-content-between gap-4">
            <div class="d-flex align-items-center justify-content-between gap-4">
                <div class="ms-3 body-sm">
                    <span class="logo d-inline-block">GRANDE<span class="logo-shadow">DEV</span></span>
                </div>
                <div class="d-flex flex-column">
                    <span class="body-xs">JavaSript</span>
                    <span class="body-xs">FrontEnd developer</span>
                    <span class="body-xs">Angular</span>
                </div>
            </div>
            <div *ngIf="showMobileMenu">
                <pf-hamburguer-button #hamburguerButton mainColor="#f6ebe5" hoverColor="#f6ebe5" id="menuDropdown" (click)="isMenuOpened ? '' : toggleDropdownMenu()"></pf-hamburguer-button>
            </div>
        </div>

        <!-- Menu right:  Projects / About me / contact-->
        <nav class="nav-menu__right body-sm h-100">
            <div>
                <a href="" class="p-4">Projects</a>
                <a href="" class="p-4">About me</a>
            </div>
            <div>
                <a href="" class="contact-link p-4 h-100">Contact</a>
            </div>
        </nav>
    </div>

    <!-- DROPDOWN MENU (MOBILE) -->
    <div class="menu-dropdown d-flex flex-column w-100" #menuDropdown *ngIf="showMobileMenu ">
        <div class="menu-dropdown__section title-xs d-flex align-items-center"><span class="ms-3">Projects</span></div>
        <div class="menu-dropdown__section title-xs d-flex align-items-center"><span class="ms-3">About me</span></div>
        <div class="menu-dropdown__section title-xs d-flex align-items-center"><span class="ms-3">Contact</span></div>
    </div>

    <!-- CONTENT -->
    <div class="dashboard__content">

        <!-- HEADER SECTION -->
        <div id="header-section">
            <div class="header-image">
                <img src="assets\images\ryoji-iwata.jpg" alt="">
            </div>

            <div class="header-slider">
                <div #sliderTopBox class="header-slider__top">
                    <div #slideTop class="slide">
                        <h1>PEDRO</h1>
                        <h1>DEV</h1>
                        <h1>CICUENDEZ</h1>
                        <h1>PEDRO</h1>
                        <h1>DEV</h1>
                        <h1>CICUENDEZ</h1>
                    </div>
                </div>
                <div #sliderBottomBox class="header-slider__bottom">
                    <div #slideBottom class="slide">
                        <h1>GRANDE</h1>
                        <h1>MARTINEZ</h1>
                        <h1>FRONTEND</h1>
                        <h1>GRANDE</h1>
                        <h1>MARTINEZ</h1>
                        <h1>FRONTEND</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- ABOUT ME -->
        <div class="about-me">
            <div>
                <span class="body-md about-me__title">humility time</span>
            </div>
            <div>
                <span class="about-me__description">Appassionate young FrontEnd developer, designer and engineer. Improving for beauty and dynamism.</span>
            </div>
        </div>

        <!-- PROJECTS -->

        <!-- PROFILE -->
        <div class="profile">
            <span class="profile__title">KNOW THE CREATOR</span>
            <p class="profile__description1">
                Frontend Developer specialist in Angular. A very interested person in web/app development. 
                Using dynamically JavaScript, Angular and Ionic for the bones, and Figma and Webflow for an impressive beauty face.
            </p>
            <p class="profile__description2">
                I have spent a year in other country and I have been in contact with all kinds of people, so mobility outside the country will not be a problem.
            </p>
            <img class="profile__img-top" src="assets\images\yo2.jpg" alt="">
            <img class="profile__img-bottom" src="assets\images\yo1.jpg" alt="">
        </div>

    </div>
</div>
