

/* COLORS */
$primary: #f6ebe5;
$secondary: #dbc53a;
$background: #000;
$backgroud-light: #2c2b2b;

/* FONT SIZES */
$body-xs: 12px;
$body-sm: 16px;
$body-md: 20px;
$body-lg: 25px;
$body-xl: 40px;

$title-xs: 14px;
$title-sm: 26px;
$title-md: 42px;
$title-lg: 108px;
$title-xl: 140px;

/* MEDIA QUERY */

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;



